<mat-card
  id="album"
  mat-ripple
  appearance="outlined"
  [routerLink]="['/albums', album.id]"
>
  <mat-card-header>
    <img mat-card-image [src]="album.images[1].url" />
    <div id="summary-text">
      <mat-card-title>{{ album.name }}</mat-card-title>
      <mat-card-subtitle>{{ getArtists(album.artists) }}</mat-card-subtitle>
      <mat-card-subtitle
        >{{ album.total_tracks }}
        <ng-container [ngPlural]="album.total_tracks">
          <ng-template ngPluralCase="=1">Track</ng-template>
          <ng-template ngPluralCase="other">Tracks</ng-template>
        </ng-container>
        | {{ album.release_date | date }}</mat-card-subtitle
      >
    </div>
  </mat-card-header>
  <mat-card-footer
    id="album-type"
    [style.background-color]="getColor(album.album_type)"
  >
    <p>
      {{ album.album_type | uppercase }}
    </p>
  </mat-card-footer>
</mat-card>
