<mat-toolbar id="sidebar">
  <a id="site-logo" routerLink="/home">
    <app-svg-icon name="song-seeker" />
  </a>
  <a
    id="user-registration"
    mat-icon-button
    routerLink="/register"
    matTooltip="Register new user"
    matTooltipPosition="left"
  >
    <mat-icon class="page-icon" color="white">account_circle</mat-icon>
  </a>
  <span id="spacer"></span>
  @if (user$ | async; as user) {
  <div
    class="avatar"
    [matTooltip]="getUserDetails(user)"
    matTooltipPosition="right"
  >
    {{ user.username[0] | uppercase }}
  </div>
  }
</mat-toolbar>
