<div id="albums-search">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Search an album..."
      [(ngModel)]="albumName"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
    <button
      matSuffix
      mat-icon-button
      aria-label="Search"
      (click)="search()"
      [disabled]="albumName.length < 4"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div id="results">
    <h3>{{ total }} Total Results</h3>
    <div
      id="albums-list"
      infinite-scroll
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    >
      @for (album of albums; track album.id) {
      <app-album-summary [album]="album" />
      } @if (isLoading) {
      <app-album-summary-loader />
      <app-album-summary-loader />
      <app-album-summary-loader />
      }
    </div>
  </div>
</div>
