#albums-search {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #albums-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  #loader {
    width: 500px;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    #loader-text-group {
      padding: 16px;
      width: inherit;
    }
  }
}
